name: ci
on:
  push:
    branches: [ main ]
    tags: [ '*' ]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: ${{ github.event_name != 'push' }} # zizmor: ignore[cache-poisoning] Zizmor doesn't understand that this disables caching for release builds
      - run: make rollout-operator

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: ${{ github.event_name != 'push' }} # zizmor: ignore[cache-poisoning] Zizmor doesn't understand that this disables caching for release builds
      - run: make test
      - run: make test-boringcrypto

  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: ${{ github.event_name != 'push' }} # zizmor: ignore[cache-poisoning] Zizmor doesn't understand that this disables caching for release builds
      - name: Install jsonnet
        run: |
          JSONNET_VERSION=0.21.0
          curl -sL "https://github.com/google/go-jsonnet/releases/download/v${JSONNET_VERSION}/go-jsonnet_Linux_x86_64.tar.gz" \
            | sudo tar -xz -C /usr/local/bin
      - name: Install tk
        run: |
          TANKA_VERSION="0.34.1"
          sudo curl -sLo /usr/local/bin/tk https://github.com/grafana/tanka/releases/download/v${TANKA_VERSION}/tk-linux-amd64
          sudo chmod a+x /usr/local/bin/tk
      - name: Install jb
        run: |
          JSONNET_BUNDLER_VERSION="0.6.0"
          sudo curl -sLo /usr/local/bin/jb https://github.com/jsonnet-bundler/jsonnet-bundler/releases/download/v${JSONNET_BUNDLER_VERSION}/jb-linux-amd64
          sudo chmod a+x /usr/local/bin/jb
      - run: make build-image
      - run: make integration

  integration-boringcrypto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: ${{ github.event_name != 'push' }} # zizmor: ignore[cache-poisoning] Zizmor doesn't understand that this disables caching for release builds
      - name: Install jsonnet
        run: |
          JSONNET_VERSION=0.21.0
          curl -sL "https://github.com/google/go-jsonnet/releases/download/v${JSONNET_VERSION}/go-jsonnet_Linux_x86_64.tar.gz" \
            | sudo tar -xz -C /usr/local/bin
      - name: Install tk
        run: |
          TANKA_VERSION="0.34.1"
          sudo curl -sLo /usr/local/bin/tk https://github.com/grafana/tanka/releases/download/v${TANKA_VERSION}/tk-linux-amd64
          sudo chmod a+x /usr/local/bin/tk
      - name: Install jb
        run: |
          JSONNET_BUNDLER_VERSION="0.6.0"
          sudo curl -sLo /usr/local/bin/jb https://github.com/jsonnet-bundler/jsonnet-bundler/releases/download/v${JSONNET_BUNDLER_VERSION}/jb-linux-amd64
          sudo chmod a+x /usr/local/bin/jb
      - run: make build-image-boringcrypto
      - run: make integration

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: ${{ github.event_name != 'push' }} # zizmor: ignore[cache-poisoning] Zizmor doesn't understand that this disables caching for release builds
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: v2.4.0
          args: --timeout=5m

  lint-jsonnet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: ${{ github.event_name != 'push' }} # zizmor: ignore[cache-poisoning] Zizmor doesn't understand that this disables caching for release builds
      - name: Install jsonnet
        run: |
          JSONNET_VERSION=0.21.0
          curl -sL "https://github.com/google/go-jsonnet/releases/download/v${JSONNET_VERSION}/go-jsonnet_Linux_x86_64.tar.gz" \
            | sudo tar -xz -C /usr/local/bin
      - name: Install conftest
        run: |
          CONTEST_VERSION="0.62.0"
          curl -sL "https://github.com/open-policy-agent/conftest/releases/download/v${CONTEST_VERSION}/conftest_${CONTEST_VERSION}_Linux_x86_64.tar.gz" \
            | sudo tar -xz -C /usr/local/bin
      - name: Install tk
        run: |
          TANKA_VERSION="0.34.1"
          sudo curl -sLo /usr/local/bin/tk https://github.com/grafana/tanka/releases/download/v${TANKA_VERSION}/tk-linux-amd64
          sudo chmod a+x /usr/local/bin/tk
      - name: Install jb
        run: |
          JSONNET_BUNDLER_VERSION="0.6.0"
          sudo curl -sLo /usr/local/bin/jb https://github.com/jsonnet-bundler/jsonnet-bundler/releases/download/v${JSONNET_BUNDLER_VERSION}/jb-linux-amd64
          sudo chmod a+x /usr/local/bin/jb
      - name: Install mixtool
        run: |
          go install github.com/monitoring-mixins/mixtool/cmd/mixtool@main
      - name: Check Jsonnet Manifests
        run: make check-jsonnet-manifests
      - name: Check Jsonnet Tests
        run: make check-jsonnet-tests
      - name: Check Dashboard Mixin
        run: make check-mixin

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: ${{ github.event_name != 'push' }} # zizmor: ignore[cache-poisoning] Zizmor doesn't understand that this disables caching for release builds
      - name: Install misspell
        run: |
          sudo curl -L -o install-misspell.sh https://git.io/misspell
          sudo sh install-misspell.sh -b /usr/bin
      - name: Install prettier
        run: |
          sudo npm install --save-dev --save-exact prettier
      - name: Check doc lint
        run: make doc-lint
      - name: Check doc
        run: make check-doc

  push-image:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
      - integration
      - integration-boringcrypto
      - lint
      - lint-jsonnet
    if: github.event_name == 'push' # We want this job to run for both pushes to main, as well as new tags
    permissions:
      contents: write # Needed to be able to create releases.
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: false
      - name: Log in to Docker Hub
        uses: grafana/shared-workflows/actions/dockerhub-login@c6d954f7cd9c0022018982e01268de6cb75b913c # dockerhub-login/v1.0.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Generate image tag
        id: image_tag
        run: |
          if [[ "$REF_TYPE" == "tag" ]]; then
            echo "tag=$REF_NAME" >> "$GITHUB_OUTPUT"
          else
            echo "tag=main-$SHA" >> "$GITHUB_OUTPUT"
          fi
        env:
          REF_TYPE: ${{ github.ref_type }}
          REF_NAME: ${{ github.ref_name }}
          SHA: ${{ github.sha }}
      - name: Build and push image
        run: |
          if [[ "$REF_TYPE" == "tag" ]]; then
            make publish-images
          else
            make publish-standard-image
          fi
        env:
          REF_TYPE: ${{ github.ref_type }}
          IMAGE_TAG: ${{ steps.image_tag.outputs.tag }}
      - name: Publish release
        if: github.ref_type == 'tag'
        run: make release-notes | gh release create "$IMAGE_TAG" --notes-file -
        env:
          IMAGE_TAG: ${{ steps.image_tag.outputs.tag }}
          GH_TOKEN: ${{ github.token }}
